*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E0D12;
    font-family: 'Inter';
}

.container {
    height: 45rem;
    width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7rem;
}

.sum {
    display: flex;
    gap: 1.2rem;
}

.numbers {
    width: 22rem;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #1E1D25;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFF;
}

.add {
    width: 3.4375rem;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 624.9375rem;
    border: 1px solid #3A6BF4;
    background: none;
    color: #3A6BF4;
}

.calculate {
    width: 10.6875rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #3A6BF4;
    color: #FFF;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

span {
    color: #FAFBFF;
    font-family: Inter;
    font-size: 5.61031rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reset {
    width: 108rem;
    height: 69.8125rem;
    background: #0E0D12;
    width: 18.72613rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    border: 1px solid #3A6BF4;
    color: #FFF;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
}